<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.erikligai.doctorplzsaveme">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".StartAppActivities.MainActivity"
            android:theme="@style/PatientTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainRecordActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.MainProblemActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.EditProblemActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.EditRecordActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.AddProblemActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.AddRecordActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.AddRecordThreeActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.AddRecordFourActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.CPViewProblemActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.CPViewRecordActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.CPAddCommentActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.AddRecordTwoActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVlgnS4qmnaTGp5HVS0awSCWoCePieuJI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activities.ViewRecordLocationsActivity"
            android:label="@string/title_activity_main_maps"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.CareProviderActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.AddPatientActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.PatientProblemsActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/view_edit_profile_title"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.PatientActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.CPRecordActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.PatientViewCommentActivity"
            android:theme="@style/PatientTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.erikligai.doctorplzsaveme.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.UploadBodyLocationActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.EditRecordThreeActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.EditRecordFourActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.ViewRecordActivity"
            android:label="@string/title_activity_view_problem"
            android:theme="@style/BothTheme" />
        <activity
            android:name=".Activities.CPViewRecordLocationsActivity"
            android:theme="@style/BothTheme" />
        <activity
            android:name=".Activities.EditRecordTwoActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.PatientSlideshowActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.SelectByLocationActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.SearchGeolocationActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.SearchKeywordActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.SearchBodyActivity"
            android:theme="@style/PatientTheme" />
        <activity
            android:name=".Activities.CPSearchBodyActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.CPSearchKeywordActivity"
            android:theme="@style/CPTheme" />
        <activity
            android:name=".Activities.CPSearchGeolocationActivity"
            android:theme="@style/CPTheme"></activity>
    </application>

</manifest>