<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.erikligai.doctorplzsaveme">
    xmlns:tools="http://schemas.android.com/tools"

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".StartAppActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainRecordActivity" />
        <activity android:name=".Activities.MainProblemActivity" />
        <activity android:name=".Activities.EditProblemActivity" />
        <activity android:name=".Activities.EditRecordActivity" />
        <activity android:name=".Activities.AddProblemActivity" />
        <activity android:name=".Activities.AddRecordActivity" />
        <activity android:name=".Activities.AddRecordTwoActivity" />
        <activity android:name=".Activities.AddRecordThreeActivity" />
        <activity android:name=".Activities.ProblemSearchActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVlgnS4qmnaTGp5HVS0awSCWoCePieuJI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Activities.CPProblemListActivity" />
        <activity android:name=".Activities.CPProblemSearchActivity" />
        <activity android:name=".Activities.RecordSearchActivity" />
        <activity
            android:name=".Activities.ViewRecordLocationsActivity"
            android:label="@string/title_activity_main_maps" />
        <activity
            android:name=".StartAppActivities.NewProfileActivity"
            android:label="@string/new_patient_title">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CareProviderActivity" />
        <activity android:name=".Activities.AddPatientActivity" />
        <activity android:name=".PatientProblemsActivity" />
        <activity
            android:name=".StartAppActivities.NoProfileActivity"
            android:label="No Profile">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
            android:label="@string/new_patient_title" />

        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/view_edit_profile_title">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddGeolocationActivity2"
            android:label="@string/title_activity_add_geolocation2" />
        <activity android:name=".Activities.PatientActivity" />
        <activity android:name=".StartAppActivities.CPLoginActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.erikligai.doctorplzsaveme.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activities.EditPhotosActivity" />
        <activity android:name=".Activities.UploadBodyLocationActivity"></activity>
            android:label="@string/view_edit_profile_title" />
        <activity android:name=".Activities.CPRecordActivity"></activity>

        <activity android:name=".Activities.EditRecordTwoActivity" />
        <activity android:name=".Activities.EditRecordThreeActivity" />

    </application>

</manifest>